body{
    background-image: url(../imagen/fondo\ oscuro.jpg);
}
p{
    font-size: 14px;
}

header{
    width: 1000px;
    height: 70px;
    margin-top: 5px;
    margin-left: 15px;
    margin-right: 20px;
}
#marca img{
    width: 120px;
    height: 120px;
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
    

}
#botonera_principal{
   width: 400px; /*Altp*/
   height: 40px; /*ancho*/
   float: right;
   margin-top: 20px; /*distancia con respecto del tope de linea*/

}
#botonera_principal ul{
    margin: 0;
    padding: 0;
    float: right;
}
#botonera_principal ul li{
    display: inline;
    list-style: none;
    color: silver;
}
#botonera_principal ul li a{
    display: inline-block;
    padding: 10px;
    background-color: goldenrod;
    /*color: white;*/
    font-weight: bold;
    text-decoration: none;
}/*Efectos-propiedades de los botones*/
#botonera_principal ul li a:link {/*no funciona*/
    color: white;
}
#botonera_principal ul li a:hover {
    color: rgb(35, 15, 219);
    background-color: white;
}
/*#botonera_principal ul li a:visited{
    color: royalblue; no funciona!!!
}*/
#botonera_principal ul li a:active {
    color: seagreen;
    background-color: sienna;
}
/*Contenido*/
#contenido_principal{
   width: 1000px; 
   height: 830px;
   margin-left: auto;
   margin-right: auto;
   margin-top: 45px;
}
#imagen1{
    width: 300px; 
    height: 300px;  
    float: left;
    margin-top: 10px;
    margin-right: 10px;/*sirve para separar la imagen a la derecha*/
    background-image: url(../imagen/boludo.jpg) ;
    /*background-size: 100% 100%;*/
    background-size: cover;
}
#presentacion{
    width: 690px;
    height: 300px;
    background-color: yellowgreen;
    float: right;
    margin-top: 10px;
    padding: 5px; /*es con respecto a lo que lo contiene*/
    box-sizing: border-box;
    text-align: justify;
}
#titulo_principal{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px; /*tamaño de la letra*/
}
#contenido_articulo{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
#Texto_contenido{
    width: 400px; /*ancho*/
    height: 300px; /*alto*/
    background-color: turquoise;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 10px;
    float: left;
    text-align: center;
}
#contenido_segundo{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
}
#imagen_2{
    width: 300px;
    height: 300px;
    background-color: tomato;
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
    background-image: url(../imagen/Barringer.jpg);
    background-size: cover;
    /*margin-left: 10px; sirve para separar el margen izquierda*/
}
#destacados{
   width: 300px;
   height: 300px;
   background-color: silver;
    float: right;/*ojo tener en cuenta el lugar para encajar todo*/
    margin-top: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}
#contenido_destacado{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    padding: 10px ;
    text-align: center;
}
#complementario{
    width: 1000px;
    height: 200px;
    /*clear: both;*/
}
#imagen_aside{
    width: 1000px;
    height: 200px;

}
footer{
    width: 1000px;
    height: 180px;
    background-color: rgb(71, 67, 67) ;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    color: silver;
}
#datos{
    width: 300px;
    height: 50px;
    float: left;
    padding: 20px;
    box-sizing: border-box;
}
#redes{
    width: 350px;
    height: 35px;
    float: right;
    background-color: skyblue;
}/*----------------*/


/*!!!!Aca empieza el media responsive*//*min-width valor minimo*/
@media all and (min-width: 600px) and (max-width: 1023px){
    /*se borra lo redundante, a lo que no le voy a hacer cambio*/
    p{
        font-size: 12px;
    }
    
    header{/*aca viene la parte responsive*/
        width: 580px;
        height: 140px;
        /*margin-top: 5px;*/
        margin-left: auto;
        margin-right: auto;
    }
    #marca img{
        width: 120px;
       /* height: 120px;*/
        float: none;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
    
    }
    
    #botonera_principal ul li a{
        display: inline-block;
        padding: 10px;
        background-color: goldenrod;
        /*color: white;*/
        font-weight: bold;
        text-decoration: none;
    }/*Efectos-propiedades de los botones*/
    
    /*Contenido*/
    #contenido_principal{
       width: 580px; 
       height: 830px;
      /* margin-left: auto;
       margin-right: auto;
       margin-top: 45px;*/
    }
    #imagen1{
        width: 200px; 
        /*height: 300px;  *
        float: left;
        margin-top: 10px;
        margin-right: 10px;*//*sirve para separar la imagen a la derecha*/
       /* background-image: url(../imagen/boludo.jpg) ;
        /*background-size: 100% 100%;*/
        background-size: cover;
        background-position: center;
    }
    #presentacion{
        width: 370px;
        height: 300px;
    }
        
    #titulo_principal{
        font-size: 20px; /*tamaño de la letra*/
    }

    #Texto_contenido{
        width: 280px; /*ancho*/
        height: 200px; /*alto*/
       
    }
    #contenido_segundo{
        font-size: 10px;
    }

    #imagen_2{
        width: 285px;
        height: 200px;
        background-size: cover;
         
    }

    #destacados{
       width: 580px;
       height: 135px;
       /*lo auemnto porque cuando llegue a ese tamaño se baje*/
    }
    #contenido_destacado{
        font-size: 10px;
        
    }
    #complementario{
        width: 580px;
        height: 130px;
        /*clear: both;*/
    }
    #imagen_aside{
        width: 400px;
        height: 135px;
    
    }
    footer{
        width: 400px;
        
    }
    #redes{
        width: 250px;
        
    }
}/*----------------*/

/*desde un tamaño x hasta 599px
/*aca empieza el media de600 a 1023, mxw-tiene que ser esta medida -1*/
@media all and (max-width: 599px){/*se saca 1 px*/

    p{
        font-size: 10px;
    }
    
    header{/*voy eliminado lo que no me sirve porque es mas pequeño*/
        width: 90%;
        height: auto;
        
    }
    #marca img{
        width: 100%;
        height: auto;
        padding: 10px; 
        box-sizing: border-box;
        text-align: center;
    
    }
    #botonera_principal{
       width: 100%; /*Altp*/
       height: auto; /*ancho*/
       float: none;
       margin-top: 10px; /*distancia con respecto del tope de linea*/
    
    }
    #botonera_principal ul{
        list-style: none;
        margin: 0;
        padding: 0;
        float: none;
    }
    #botonera_principal ul li{
        display: block;
        color: silver;
    }
    #botonera_principal ul li a{
        display: block;
        width: 100%;
        margin-bottom: 5px;
        font-weight: bold;
        text-decoration: none;
        box-sizing: border-box;
        text-align: center;
    }

    /*!!!!!!!!Contenido!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
    #contenido_principal{
       width: 90%; 
       height: auto;
       float: none;
    
    }
    #imagen1{
        width: 100%; 
        height: 200px;  
        float: none;
        background-position: center;
        background-size: cover; 
    }

    #presentacion{
        width: 100%;
        height: auto;
        float: none;
    
    }
    
    #Texto_contenido{
        width: 100%; /*ancho*/
        height: auto; /*alto*/
        float: none;
        margin-right: 0;
    }
    #contenido_segundo{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 12px;
    }
    #imagen_2{
        width: 100%;
        height: 150px;
        float: none;
        margin-top: 10px;
        margin-bottom: 10px;
        background-position: center;
        /*margin-left: 10px; sirve para separar el margen izquierda*/
    }
    #destacados{
       width: 100%;
       height: auto;
       float: none;/*ojo tener en cuenta el lugar para encajar todo*/
    }
    #contenido_destacado{
        font-size: 90%;
    }
    #complementario{
       display: none;
    }
    #imagen_aside{
        width: 1000px;
        height: 200px;
    
    }
    footer{
        width: 90%;
        height: auto;
        float: none;
    }
    #datos{
        width: 100%;
        height: auto;
        float: none;
    }
    #redes{
        width: 100%;
        height: 35px;
        float: none;
    }
}
/*fin hasta 599px*/








